---
source_file: "src/lib/domain/types.ts"
type: "code"
community: "domain/types.ts"
location: "L112"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/domain/typests
---

# VerificationStatus

## Connections
- [[dot-listVerifications()_1]] - `references` [EXTRACTED]
- [[CandidateFilters]] - `references` [EXTRACTED]
- [[constants.ts]] - `imports` [EXTRACTED]
- [[domaintypes.ts]] - `contains` [EXTRACTED]
- [[repository.ts]] - `imports` [EXTRACTED]
- [[servicesadmin.ts]] - `imports` [EXTRACTED]
- [[verification-controls.tsx]] - `imports` [EXTRACTED]

#graphify/code #graphify/EXTRACTED #community/domain/typests